<!DOCTYPE html>
<html>
<head>
  <title>Gemreviews</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Gem Reviews", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li></li>
      </ul>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: "delete", class: "pull-right" %>
        <%= link_to 'Edit profile', edit_user_registration_path %>
        <span class="pull-right">Logged in as <%= current_user.name %>.</span>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn-sm btn-default pull-right" %>
        <%= link_to "Login", new_user_session_path, class: "btn-sm btn-primary pull-right" %>
      <% end %>
    </div>
  </div>
</nav>
<%= flash[:notice] %>
<%= flash[:alert] %>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
